# Logs
logs
**/*.log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

**/venv
**/__pycache__

**/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

docker/data
data/features_full
data/ml_ready_pathology_reports

**/*.db

# Viewer
viewer/__pycache__
viewer/cache
viewer/temp
viewer/dbs
viewer/webapp/__pycache__
viewer/webapp/venv
viewer/webapp/.env*

server/venv

# orthanc data
*.tar.gz

# Models
*.pth
*.ckpt

# Environment variables
.env
.env.*
!.env.example