<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Med.AI Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="nav-content">
            <!-- <a href="{{ url_for('index') }}" class="nav-brand">RT Review Portal</a> -->
        </div>
    </nav>

    <div class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>